TELEGRAM_TOKEN=8604642845:AAHK1N43sV2lZhv7j4zg90-FSDWOaaz1Mew
GEMINI_API_KEY=AIzaSyCfdj88FfdSV8VNTTenF8sVrD0zxl9yHrI
WEBHOOK_SECRET=wymysl_sobie_jakies_haslo
RENDER_EXTERNAL_URL=twoj_adres_z_render_com
